.date-man {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    gap: 20px;
}

.date-man *:hover {
    cursor: pointer;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.filter * {
    margin: 15px;
}

.filter p {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.filter select {
    margin: 0;
    flex-basis: 40%;
    flex-grow: 1;
    padding: 10px;
}

.date-man span {
    font-size: 3.5rem;
    user-select: none;
}

.date-man span:hover {
    color: #8b8b8b;
    cursor: pointer;
}