.date-man {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter * {
    margin: 15px;
}