.date-man {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0;
}

.date-man *:hover {
    cursor: pointer;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filter * {
    margin: 15px;
}

.date-man span {
    font-size: 3.5rem;
    user-select: none;
}

.date-man span:hover {
    color: #8b8b8b;
    cursor: pointer;
}