.date {
    width: 4rem;
    height: 4rem;
    background-color: #FFFFD5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    border-radius: 9px;
}

.date:hover {
    outline: 1px solid black;
}

.date-text {
    margin: 0;
    padding: 0;
}

.active {
    color: white;
    background-color: rgba(61, 52, 41, 0.8);
}