article {
    display: flex;
}

.todo-man {
    flex-direction: column;
}

aside {
    width: 100%;
    height: 50px;
    margin-bottom: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside.finished {
    background-color: #0F5D46;
}

aside.progress {
    background-color: #986E26;
}

aside.unfinished {
    background-color: #8C0301;
}